@{
    ViewBag.Title = "Home Page";
}
@using(Html.BeginForm("GetSnippet", "Home"))
{

<div class="jumbotron">
    <h1>Snippets!</h1>
    <p class="lead">Snippet App!</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>. . .</h2>
        <p>
            Enter a keyword:@Html.TextBox("txtquery")
        </p>
        <p><input id="btnGetSnippets" type="submit" value="What are you looking for?" /></p>
    </div>

</div>
}